body {
    font-family: Georgia, serif;
    font-size: 0.94rem;
    margin: 0;
    padding: 0;
    background-color:#696969;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

img {
    border-style: none;
  }

.section {
    margin: 3rem auto;
    padding: 0 1rem;
}

.slider-title {
    text-align: center;
    padding: 2rem;
}

.main {
    margin: 0 auto;
    max-width: 46rem;
    display: grid;
    row-gap: 3%;
    grid-template-areas: "s s s"
                         "t . b"
                         ". . ."
}

.slider {
    max-width: 46rem;
    overflow: hidden;
    display: flex;
}

.slider { grid-area: s; }
.text { grid-area: t; }
.buttons {
    grid-area: b;
    display: flex;
    justify-content: flex-start;
    gap: 0.8rem;
}

.button {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 45%;
}

.active {
    border: 0.1rem solid #00CED1;
}

.inactive {
    background-color: #F5FFFA;
}

.active:hover {
    border: 0.1rem solid #F5FFFA;
    cursor: pointer;
}

.inactive:hover {
    cursor: pointer;
    background-color: #00CED1;
}

.mem-img {
  object-fit: cover;
  border-radius: 1%;
}

.images {
    margin: 0 auto;
    display: flex;
    align-items: center;
    transition: all 1s;
}

@media screen and (max-width: 500px) {
    .main {
        display: grid;
        grid-template-areas: "s s s"
                             "b b b"
                             "t t t";
    }

    .buttons {
        display: flex;
        justify-content: center;
    }
}

